body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:195px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:34px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:195px;
  width:337px;
  height:33px;
}
#u56_img.selected {
}
#u56.selected {
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:198px;
  width:329px;
  height:28px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:295px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
